
.button-send-msg{
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-background-color: #ffb7ab;
    -fx-alignment: CENTER;

}
.button-send-msg-yellow{
    -fx-alignment: CENTER;
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-background-color: #9cff96;
}




.circle-not-in-net{
    -fx-fill: Red;
}
.circle-in-net{
    -fx-fill: Green;
}
.hBox-back{
    -fx-pref-width: 600;
    -fx-pref-height: 575;
}

.hBox-back-chat{
    -fx-pref-width: 600;
    -fx-pref-height: 555;
}

.hBox-nickname{
    -fx-background-color: #8dbfff;
    -fx-pref-height: 20;
    -fx-pref-width: 400;
    -fx-alignment: CENTER;
    -fx-border-color: #1e02ff;
}
.hBox-private-nickName{
    -fx-background-color: #ffb7ab;
    -fx-pref-height: 40;
    -fx-pref-width: 400;
    -fx-alignment: CENTER;
    -fx-border-color: #ff0134;
}

.label-private-with{
    -fx-pref-height: 40;
    -fx-pref-width: 200;
    -fx-alignment: CENTER;
    -fx-font-family: Arial;
    -fx-font-size: 20;
}
.label-nickName-private{
    -fx-pref-height: 40;
    -fx-pref-width: 200;
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: Arial;
    -fx-font-size: 20;
}

.label-nickName{
    -fx-alignment: CENTER;
    -fx-pref-height: 40;
    -fx-pref-width: 150;
    -fx-font-family: Arial;
    -fx-font-size: 20;
}

.label-user-in-net{
    -fx-background-color: #ffb7ab;
    -fx-pref-height: 20;
    -fx-pref-width: 200;
    -fx-alignment: CENTER;
    -fx-border-color: #ff0134;
    -fx-font-family: Arial;
    -fx-font-size: 20;
}

.list-view-in-net .list-cell:even {
    -fx-background-color: #fff7e8;
    -fx-text-fill: #02144f;
}
.list-view-in-net .list-cell:odd {
    -fx-background-color: #ffebef;
    -fx-text-fill: #02144f;
}

.list-view-in-net{
    -fx-background-color: #fff7e8;
}

.menu-bar{
    -fx-background-color: #d2f8ff;
}
.menu-item{
    -fx-background-color: #fbe7ff;
}

.scroll-pane-message .viewport{
    -fx-background-color: #d1fffa;
}

.text-field-msg{
    -fx-pref-height: 30;
    -fx-pref-width: 340;
}


.vBox-back-private-chat{
    -fx-pref-width: 400;
    -fx-pref-height: 575;
    -fx-background-color: #d1fffa;

}

.vBox-back-chat{
    -fx-pref-width: 600;
    -fx-pref-height: 575;
}
.vBox-left{
    -fx-background-color: #d1fffa;
    -fx-pref-width: 400;
    -fx-pref-height: 555;
}
.vBox-right{
    -fx-pref-width: 200;
    -fx-pref-height: 555;
    -fx-background-color: #fff7e8;
}
.vBox-msg{
    /*-fx-pref-width: 400;*/
    /*-fx-pref-height: 505;*/
    -fx-spacing: 10;
    -fx-alignment: TOP_CENTER;
}

